            <tr>
              <td>{{ partial "pkg.html" . }}</td>
              <td><a href="https://{{ partial "repo.html" . }}">{{ partial "repo.html" . }}</a></td>
              <td>
                <a href="https://{{ partial "doc.html" . }}">
                  {{- with resources.GetRemote "https://pkg.go.dev/static/frontend/badge/badge.svg" }}
                  <img src="{{ .RelPermalink }}" alt="GoDoc">
                  {{- end }}
                </a>
              </td>
            </tr>

{{- $desc := .Description }}
{{- if not $desc }}
  {{- with .Params.repository }}
    {{- if strings.HasPrefix . "github.com/" }}
      {{- with strings.TrimPrefix "github.com/" . | printf "https://api.github.com/repos/%s" | resources.GetRemote | transform.Unmarshal }}
        {{- $desc = .description }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- with $desc }}
            <tr class="description">
              <td colspan="2">{{ $desc }}<td>
            </tr>
{{- end }}
