            <tr>
              <td>{{ partial "pkg.html" . }}</td>
              <td><a href="https://{{ partial "repo.html" . }}">{{ partial "repo.html" . }}</a></td>
              <td>
                <a href="https://{{ partial "doc.html" . }}">
                  {{- with resources.GetRemote "https://pkg.go.dev/static/frontend/badge/badge.svg" }}
                  <img src="{{ .RelPermalink }}" alt="GoDoc">
                  {{- end }}
                </a>
              </td>
            </tr>
